$primary: #333;

body {
    color: $primary;
}

header {
    background: linear-gradient(to bottom right, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../bg-image.jpg');
    background-size: cover;
    min-height: 750px;
    width: 100% !important;
}

.fa-brands {
    font-size: 3rem;
    transition: color .5s ease;
}

.fa-brands:hover {
    color: rgb(171, 171, 171);
}

.navbar {
    background: #0f0f0f;
}

.button-container {
    flex-wrap: wrap;
}
